<script setup lang="ts">
import { mdiDeleteOutline, mdiPlus, mdiMinus } from "@mdi/js";
</script>

<template>
  <v-container>
    <h3 class="text-decoration-underline">List</h3>
    <v-card class="mx-auto" max-width="460" tile>
      <v-table fixed-header height="220px" class="tbcolor">
        <thead>
          <tr>
            <th class="text-center" max-width="50">No.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Qty</th>
            <th class="text-center">Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" max-width="50">1.</td>
            <td>Caramel Frappuccino</td>
            <td>89.00</td>
            <td align="center">
              <v-btn :icon="mdiPlus" color="success" size="15"></v-btn>2
              <v-btn :icon="mdiMinus" color="error" size="15"></v-btn>
            </td>
            <td align="center">178.00</td>
            <td><v-btn :icon="mdiDeleteOutline" size="20"></v-btn></td>
          </tr>
          <tr>
            <td class="text-center" max-width="50">2.</td>
          </tr>
          <tr>
            <td class="text-center" max-width="50">3.</td>
          </tr>
        </tbody>
      </v-table>
    </v-card>

    <v-row>
      <v-col>
        <h4 class="text-center font-weight-bold text-decoration-underline">
          Amout
        </h4>
      </v-col>
      <v-col></v-col>
      <v-col>
        <h4 class="font-weight-bold text-decoration-underline">THB</h4>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <p class="text-center">0</p>
      </v-col>
      <v-col></v-col>
      <v-col>
        <p>00.00</p>
      </v-col>
    </v-row>

    <v-row
      >- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      - -
    </v-row>

    <v-row>
      <v-col>
        <p>Discount:</p>
      </v-col>
      <v-col>
        <p>THB</p>
      </v-col>
      <v-col>
        <p>00.00</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <p class="font-weight-black">Total</p>
      </v-col>
      <v-col>
        <p class="font-weight-black">THB</p>
      </v-col>
      <v-col>
        <p class="font-weight-black">00.00</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <p>Cash</p>
      </v-col>
      <v-col>
        <p>THB</p>
      </v-col>
      <v-col>
        <p>00.00</p>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <p>Change</p>
      </v-col>
      <v-col>
        <p>THB</p>
      </v-col>
      <v-col>
        <p>00.00</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.tbcolor {
  background-color: #f2e0c0;
}
</style>
