<script setup lang="ts">
import {
  mdiCash,
  mdiQrcodeScan,
  mdiCreditCard,
  mdiCheckBold,
  mdiCloseThick,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <div>
      <b>Payment Meadthod</b>
      <v-row>
        <v-col>
          <v-btn
            color="#D9D9D9"
            rounded="lg"
            class="ma-2"
            :prepend-icon="mdiCash"
            height="36"
            width="105"
          >
            cash
          </v-btn>

          <v-btn
            color="#D9D9D9"
            rounded="lg"
            class="ma-2"
            :prepend-icon="mdiCreditCard"
            height="36"
            width="105"
          >
            card
          </v-btn>

          <v-btn
            color="#D9D9D9"
            rounded="lg"
            class="ma-2"
            :prepend-icon="mdiQrcodeScan"
            height="36"
            width="105"
          >
            QR code
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn
            rounded="lg"
            color="#E4C520"
            class="mb-3"
            height="40px"
            width="130px"
          >
            Member
          </v-btn>
          <v-btn rounded="lg" color="#9CC89E" height="40px" width="130px">
            Register
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            :icon="mdiCloseThick"
            color="error"
            class="mr-3"
            size="x-large"
          >
          </v-btn>
          <v-btn :icon="mdiCheckBold" color="success" size="x-large"></v-btn>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
