<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiTabletDashboard,
  mdiOrderAlphabeticalAscending,
  mdiLogout,
  mdiPointOfSale,
  mdiFaceAgent,
  mdiAccountGroup,
  mdiAccountPlus,
  mdiFileDocumentEdit,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");
const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-list-item
        prepend-avatar="https://cdn.discordapp.com/attachments/1014072451187085332/1061663574746992640/25_20220830154543.png"
      ></v-list-item>
      <h1>D-coffee</h1>
      <v-spacer></v-spacer>
      <v-list>
        <v-list-item
          prepend-avatar="https://i.pinimg.com/564x/3f/77/e4/3f77e43021dd33202ff38e3fc5f5e397.jpg"
          :title="loginStore.loginName"
          subtitle="Status: Employee"
        ></v-list-item>
      </v-list>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiPointOfSale"
          title="Point of sell"
          value="Users"
          to="/PointofSell"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiTabletDashboard"
          title="Dashboard"
          value="dashboard"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiOrderAlphabeticalAscending"
          title="Stock Menagement"
          value="stock"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiFileDocumentEdit"
          title="Order Menagement"
          value="order"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiAccountPlus"
          title="Customer Menagement"
          value="customer"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiAccountGroup"
          title="Employee Menagement"
          value="employee"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiFaceAgent"
          title="User Menagement"
          value="user"
        ></v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn
            color="error"
            block
            @click="logout"
            :prepend-icon="mdiLogout"
          ></v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
