<script setup lang="ts">
import { mdiMagnify } from "@mdi/js";
import { ref } from "vue";
import MenuPop from "@/components/MenuPop.vue";
import DrinksVue from "@/components/DrinksVue.vue";
import BakeryBox from "@/components/BakeryBox.vue";
import CardFood from "@/components/CardFood.vue";
import BillBox from "@/components/BillBox.vue";

const tab = ref(null);
</script>

<template>
  <v-container>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="5"
        ><v-text-field
          label="Search"
          :prepend-inner-icon="mdiMagnify"
          dense
          flat
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card
          ><v-tabs v-model="tab" bg-color="white" grow>
            <v-tab value="drink"><h3>Drinks</h3></v-tab>
            <v-tab value="foods"><h3>Foods</h3></v-tab>
            <v-tab value="bakery"><h3>Bakery</h3></v-tab>
          </v-tabs></v-card
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-window v-model="tab">
          <v-window-item value="drink"><DrinksVue /></v-window-item>
          <v-window-item value="foods"><CardFood /></v-window-item>
          <v-window-item value="bakery"><BakeryBox /></v-window-item>
        </v-window>
      </v-col>
    </v-row>
  </v-container>
  <BillBox />
</template>
