<script setup lang="ts">
import MenuPop from "@/components/MenuPop.vue";
const frameList = [
  {
    name: "Chocolate Glazed Donut ",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060838189532721162/8.Choc-Glaze-Donut1080-removebg-preview.png",
    price: "35THB",
  },
  {
    name: "Chocolate Chip Cookie",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060838189960536134/1.Soft-Choc-Chip-Cookie1080-1-removebg-preview.png",
    price: "75THB",
  },
  {
    name: "Toaster Pancake",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060838190304477254/17.Pancake1080-removebg-preview.png",
    price: "40THB",
  },
];
const frameList1 = [
  {
    name: "Glazed Donut ",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060838801120964648/7.Glaze-Donut1080-1-removebg-preview.png",
    price: "25THB",
  },
  {
    name: "bullseye cookie",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060840391261311057/c2e47d51ab104439a7bc2f76e0903285-removebg-preview.png",
    price: "80THB",
  },
  {
    name: "Toaster PancakeChocolate Hazelnut Croissant",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060841724282417182/Winter2023_CHOCOLATE-HAZELNUT-CROISSANT-removebg-preview.png",
    price: "89THB",
  },
];
const frameList2 = [
  {
    name: "Chocolate Glazed DonutMarshmallow Brookie ",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060842294456102912/10.Marshmallow-Brookie_resize-removebg-preview.png",
    price: "89THB",
  },
  {
    name: "Custard Cream, Mochi Waffle",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060842943264604160/9.Wafle1080-removebg-preview.png",
    price: "25THB",
  },
  {
    name: "French Butter Croissant",
    img: "https://cdn.discordapp.com/attachments/1060838064085286912/1060843225738379314/11.French-Butter-Croissant1080-removebg-preview.png",
    price: "89THB",
  },
];
</script>

<template>
  <v-row>
    <v-col v-for="(item, index) of frameList" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="320"
      ></MenuPop>
    </v-col>
  </v-row>
  <v-row>
    <v-col v-for="(item, index) of frameList1" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="340"
      ></MenuPop>
    </v-col>
  </v-row>
  <v-row>
    <v-col v-for="(item, index) of frameList2" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="340"
      ></MenuPop>
    </v-col>
  </v-row>
</template>
