<script setup lang="ts">
import BillOrder from "@/views/receipt/BillOrder.vue";
import PaymentMethod from "@/views/receipt/PaymentMethod.vue";
</script>

<template>
  <v-navigation-drawer location="right" width="465">
    <BillOrder />
    <PaymentMethod />
  </v-navigation-drawer>
</template>
