<script setup lang="ts">
import MenuPop from "@/components/MenuPop.vue";
const frameList = [
  {
    name: "Tuna Salad with Herb Vinaigrette",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530749272084583/41.Tuna-Salad1080-1-removebg-preview.png",
    price: "145 THB",
  },
  {
    name: "Creamy Mushroom soup",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530749616009286/53.Mushroom-Soup1080-1-removebg-preview.png",
    price: "130 THB",
  },
  {
    name: "Corn soup",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530749926383677/54.Corn-Soup1080-1-removebg-preview.png",
    price: "130 THB",
  },
  {
    name: "Penne All' Arrabbiata with smoked sausage",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530750228385842/56.Penne1080-1-removebg-preview.png",
    price: "215 THB",
  },
  {
    name: "Scramble Egg",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530750513590322/Scramble-Egg-removebg-preview.png",
    price: "155 THB",
  },
  {
    name: "Cold Cut & Cheese Platter",
    img: "https://media.discordapp.net/attachments/993923434851602452/1061530750819770430/ExclusiveICONonGreen_Item18-removebg-preview.png",
    price: "365 THB",
  },
];
</script>

<template>
  <v-row>
    <v-col cols="4" v-for="(item, index) of frameList" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="320"
      ></MenuPop>
    </v-col>
  </v-row>
</template>
