<script setup lang="ts">
import MenuPop from "@/components/MenuPop.vue";
const frameList = [
  {
    name: "Iced Latte",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061533589382115418/image-removebg-preview_7.png",
    price: "79THB",
  },
  {
    name: "Iced Green Tea Latte",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061531942627057754/image-removebg-preview_3.png",
    price: "89THB",
  },
  {
    name: "Caramel Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1060811015887007824/31d6520e2739227642006e194077c135-removebg-preview.png",
    price: "109THB",
  },
];
const frameList1 = [
  {
    name: "Caramel Cream Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061531942312489080/image-removebg-preview_4.png",
    price: "109THB",
  },
  {
    name: "White Chocolate Cream Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061533589872857159/image-removebg-preview_6.png",
    price: "98THB",
  },
  {
    name: "Strawberries & Cream Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061531942929059911/image-removebg-preview_2.png",
    price: "125THB",
  },
];
const frameList2 = [
  {
    name: "Cookies & Cream Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061531943201681408/image-removebg-preview_1.png",
    price: "75THB",
  },
  {
    name: "Gingerbread Cream Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061533590346805268/image-removebg-preview_5.png",
    price: "70THB",
  },
  {
    name: "Espresso Frappuccino",
    img: "https://media.discordapp.net/attachments/1017440447309807759/1061531943524638750/image-removebg-preview.png",
    price: "85THB",
  },
];
</script>

<template>
  <v-row>
    <v-col v-for="(item, index) of frameList" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="320"
      ></MenuPop>
    </v-col>
  </v-row>
  <v-row>
    <v-col v-for="(item, index) of frameList1" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="320"
      ></MenuPop>
    </v-col>
  </v-row>
  <v-row>
    <v-col v-for="(item, index) of frameList2" :key="index">
      <MenuPop
        :name="item.name"
        :img="item.img"
        :price="item.price"
        height="320"
      ></MenuPop>
    </v-col>
  </v-row>
</template>
