<script setup lang="ts">
import { ref } from "vue";
const props = defineProps<{
  name: string;
  img: string;
  price: string;
}>();
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="props.img" height="200px" class="color"></v-img>
    <v-card-item>
      <div>
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="float-end">{{ props.price }}</div>
      </div>
    </v-card-item>
  </v-card>
</template>

<style>
.color {
  background-color: #d2b48c;
}
</style>
